node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
/.env
/.firebase
/.firebaserc
/firebase.json
.firebase
/.firebase/hosting.d2ViLWJ1aWxk.cache
/.firebase/hosting.cHVibGlj.cache